<% if signed_in? %>
  <div class="container-fluid">
    <%= render 'users/events' %>
  </div>
  <div class="bottom row-fluid">
    <div class="tabbable tabs-below">
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
        </div>
        <div class="tab-pane" id="tab2">
        </div>
	<div class = "tab-pane" id = "tab3">
	</div>
	<div class = "tab-pane" id = "tab4">
	</div>
      </div>
      <ul class="nav nav-tabs">
        <li class="active"><a href="/">About Me</a></li>
        <li><a href="/2">Clicks</a></li>
	<li><a href="/3">Words</a></li>
	<li><a href="/4">Programs</a></li>
      </ul>
      <div class="user">
        <div class="btn-group dropup">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user"></i><b class="caret"></b>
          </a>
          <ul class="dropdown-menu pull-right">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Sign out", signout_path, method: "delete" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="home-page">
    <div class="text-home">
    <h1 class="lifelogger">LifeLogger</h1><br>
    <h3>Once logged in, you can start learning more about how you navigate around your computer, either by searching for information above or clicking on the tabs below. Begin exploring!</h3><br>
    
    <%= link_to "Sign up!", signup_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Sign in!", signin_path, class: "btn btn-large btn-primary" %>
    
    </div>
  </div>
<% end %>
